@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
   --shadow-disk: 0 0 0 10px;
   --animate-rotate: rotate 20s linear infinite;
   --animate-pulse: pulse 2s linear infinite;
}

@keyframes rotate {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}

@keyframes pulse {
   0% {
      box-shadow: 0;
   }
   50% {
      box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
   }
   100% {
      box-shadow: 0 0 0 5px rgba(255,255,255,0.4);
   }
}

@utility animation-paused {
   animation-play-state: paused;
}

@utility animation-play {
   animation-play-state: running;
}

@utility seek-bar {
   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1px;
      height: 20px;
      box-shadow: -400px 0 0 400px var(--color-slate-600);
   }
}

.hsb {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.hsb::-webkit-scrollbar {
   display: none;
}