@import 'tailwindcss';

@theme {
   /* --font-heading: ; */
   /* --font-base: ; */
   /* --font-display: ; */

   --color-primary-500: #7fc8a9;
   --color-primary-800: #5f7a61;
   --color-secondary: #d5eebb;
   /* --color-accent: ; */
   /* --color-status: ; */

   --shadow-disk: 0 0 0 15px;
   --shadow-disk-center: 0 0 0 13px;
   --animate-rotate: rotate 20s linear infinite;
   --animate-pulse: pulse 2s linear infinite;
}

@keyframes rotate {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}

@keyframes pulse {
   0% {
      box-shadow: 0;
   }
   50% {
      box-shadow: 0 0 0 5px rgba(255,255,255,0.1);
   }
   100% {
      box-shadow: 0 0 0 5px rgba(255,255,255,0.4);
   }
}

@utility animation-paused {
   animation-play-state: paused;
}

@utility animation-play {
   animation-play-state: running;
}

@utility seek-bar {
   &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1px;
      height: 20px;
      box-shadow: -400px 0 0 400px #d5eebb;
   }
}

.hsb {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.hsb::-webkit-scrollbar {
   display: none;
}